#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:650px;
  padding: 30px;
  border: 2px solid #000000;

}

h1{
    text-align: center;
}

button{
  margin-left: 100px;
}

#nome, #end, #cid, #uf, #tel, #cel, #emai, #prof, #select, #rg, #cnh, #cpf, #titu, #numpassaporte{
  margin-bottom: 15px;
}

